# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "11d3674d365a2ab7a52254481bbea80c"
name = "rakshasetu-app"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true
dev_store_url = "rakshasetu-developer-app-test-store.myshopify.com"

[build.dev]
# Don't run any pre-dev commands
run_command = ""

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
